/* default css */
body {
  margin: 0px;
  padding: 0px;
}

.citrusX__sectionTitle {
  margin: 0;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  color: #000000;
  padding-bottom: 30px !important;
}

.citrusX__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.citrusX__wrapper a {
  text-decoration: none;
}

.citrusX__wrapper img {
  max-width: 100%;
}


/* common styling */

/* overflow scroll bar hide */
/* Hide scrollbar for Chrome, Safari and Opera */
.citrusX__raw-items-container::-webkit-scrollbar,
.citrusX-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.citrusX__raw-items-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* 3-up (minimum of 3) Section start */
#citrusX__raw-items {
  text-align: center;
}

.citrusX__raw-items-container {
  width: 940.03px;
  max-width: 100%;
  margin: auto;
  overflow: auto;
  text-align: center;
}

.citrusX__raw-item {
  width: 940.03px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 20px;
  text-align: center;
  margin: auto;
}

.citrusX__item-card {
  width: 271.03px;
  text-align: center;
}

.citrusX__item-card img {
  width: 177.18px;
  height: 177.18px;
  max-width: 100%;
  text-align: center;
}

.citrusX__item-card-title h3 {
  margin: 20px 0;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.citrusX__item-card-title p {
  margin: 0;
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000;
  padding-bottom: 25px;
}

.citrusX__card-cta {
  max-width: 100%;
  border: 0;
  background: none;
  text-decoration: underline;
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  font-size: 16px;
  line-height: 22px;
  font-weight: 900;
  cursor: pointer;
}

@media screen and (max-width:425px) {

  .citrusX__raw-item {
    width: 700px;
  }

  .citrusX__item-card {
    width: 179px;
  }

  .citrusX__item-card img {
    width: 174.85px;
  }
}

/* End 3-up (minimum of 3) Section */